
@model PagedList.IPagedList<NKSLK.Models.DTO.NhatKySLK>
@using PagedList.Mvc


<style>
    .pagination {
        display: inline;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            display: inline-block;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border-radius: 5px;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
                border-radius: 5px;
            }
    th {
        text-align: center;
        background-color: #5a77c8;
    }

    .col-sm-12.col-md-3 {
        font-weight: 900;
    }
</style>

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Danh sách công nhân</h1>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive" style="overflow: hidden">
            <div class="dataTables_wrapper dt-bootstrap4 no-footer" id="dataTable_wrapper">
                <form class="row" action="/Home/admin" style="margin-bottom:10px; display:block;">
                    <div style="padding:0px 0px 0px 12px ; height:40px;width:100px; background-color:blue; display:inline-block;">

                        <a href="~/Home/Create" style="font-size:18px; color:white; text-decoration:none;">
                            Thêm mới
                        </a>

                    </div>
                    <div class="col-sm-12 col-md-3" style="padding:0px; display:inline-block; float:right;">
                        <label>Tên</label>
                        <input type="text" class="form-control" name="name" id="name" style="display:inline;width:55%" />
                        <button class="btn btn-flat btn-success" type="submit">
                            Tìm kiếm
                        </button>
                    </div>
                </form>
                <div class="row">
                    @{string Checked = " "; }
                    <div class="col span-1-of-4" style="margin-top:10px">
                        @if (Session["NhatKySLK_Index"].ToString() == "1") { Checked = "checked"; }
                        <input type="radio" id="html" name="fav_language" value="HTML" onclick="Ca1()" style="margin-top: 10px; margin-left: 10px;" @Checked>
                        <label for="html">Ca 1</label><br>
                        @{ Checked = "";}
                    </div>
                    <div class="col span-2-of-4" style="margin-top:10px">
                        @if (Session["NhatKySLK_Index"].ToString() == "2") { Checked = "checked"; }
                        <input type="radio" id="css" name="fav_language" value="CSS" onclick="Ca2()" style="margin-top: 10px; margin-left: 10px;" @Checked>
                        <label for="css">Ca 2</label><br>
                        @{ Checked = "";}
                    </div>
                    <div class="col span-3-of-4" style="margin-top:10px">
                        @if (Session["NhatKySLK_Index"].ToString() == "3") { Checked = "checked"; }
                        <input type="radio" id="javascript" name="fav_language" value="JavaScript" onclick="Ca3()" style="margin-top: 10px; margin-left: 10px;" @Checked>
                        <label for="javascript">Ca 3</label><br>
                        @{ Checked = "";}
                    </div>
                    <div class="col span-4-of-4" style="margin-top:10px">
                        @if (Session["NhatKySLK_Index"].ToString() == "index") { Checked = "checked"; }
                        <input type="radio" id="javascript" name="fav_language" value="JavaScript" onclick="TatCa()" style="margin-top: 10px; margin-left: 10px;" @Checked>
                        <label for="javascript">Tất cả</label><br>
                        @{ Checked = "";}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered" id="example2" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Ngày thực hiện</th>
                                    <th>Giờ bắt đầu</th>
                                    <th>Giờ kết thúc</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NgayThucHien)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BatDau)
                                        </td>
                                        <td style="text-align:left">
                                            @Html.DisplayFor(modelItem => item.KetThuc)
                                        </td>

                                        <td>
                                            <a href="~/NhatKySLK/ChiTietCongNhan_NKSLK/@item.MaNhatKy">
                                                <i class="fa fa-info-circle fa-lg" aria-hidden="true" style="margin-left: 20px; color: cadetblue"></i>
                                            </a>

                                            <a href="~/NKKhoan/Edit/@item.MaNhatKy">
                                                <i class="far fa-edit" style="margin: 0px 10px;"></i>
                                            </a>

                                            <a href="~/NKKhoan/Delete/@item.MaNhatKy" onclick="return confirm('Bạn chắc chắn muốn xóa?')">
                                                <i class="far fa-trash-alt" style="margin: 0px 10px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-3"></div>
                    <div class="col-sm-12 col-md-8">
                        <div class="pagination" id="dataTable_paginate" style="">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                            @{ string sesSion = Session["NhatKySLK_Index"].ToString();}
                            @if (sesSion == "index")
                            {
                                @Html.PagedListPager(Model, pageNum => Url.Action("index", new { pageNum }))
                            }
                            else if (sesSion == "1")
                            {
                                @Html.PagedListPager(Model, pageNum => Url.Action("Ca1_NKSLK", new { pageNum }))
                            }
                            else if (sesSion == "2")
                            {
                                @Html.PagedListPager(Model, pageNum => Url.Action("Ca2_NKSLK", new { pageNum }))
                            }
                            else if (sesSion == "3")
                            {
                                @Html.PagedListPager(Model, pageNum => Url.Action("Ca3_NKSLK", new { pageNum }))
                            }
                            else if (sesSion == "ChiTietCongNhan_NKSLK")
                            {
                                @Html.PagedListPager(Model, pageNum => Url.Action("ChiTietCongNhan_NKSLK", new { pageNum }))
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function Ca1() {
        location.href = "@Url.Action("Ca1_NKSLK", "NhatKySLK")";
    }
    function Ca2() {
        location.href = "@Url.Action("Ca2_NKSLK", "NhatKySLK")";
    }
    function Ca3() {
        location.href = "@Url.Action("Ca3_NKSLK", "NhatKySLK")";
    }
    function TatCa() {
        location.href = "@Url.Action("Index", "NhatKySLK")";
    }
</script>