@model PagedList.IPagedList<NKSLK.Models.DTO.CongNhan>

@using PagedList.Mvc

@using NKSLK.Models.DAO
@{ ViewBag.Title = "List";
    Layout = "~/Views/Shared/_adminLTE.cshtml";
}

<style>
    .pagination {
        display: inline;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            display: inline-block;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border-radius: 5px;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
                border-radius: 5px;
            }
</style>

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Danh sách công nhân</h1>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive" style="overflow: hidden">
            <div class="dataTables_wrapper dt-bootstrap4 no-footer" id="dataTable_wrapper">
                <form class="row" action="List" style="margin-bottom:10px">
                    <a>Sắp xếp theo lương : Tăng,Giảm</a>
                    <br />
                    <div style="padding:0px 0px 0px 12px ; height:40px;width:100px; background-color:blue;">

                        <a href="~/Home/Create" style="font-size:18px; color:white; text-decoration:none;">
                            Thêm mới
                        </a>

                    </div>
                    <div>
                        <input  placeholder="tìm kiếm"/>
                    </div>

                </form>

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Mã công nhân</th>
                                    <th>Họ Tên</th>
                                    <th>Ngày sinh</th>
                                    <th>Giới tính</th>
                                    <th>Phòng ban</th>
                                    <th>Chức vụ</th>
                                    <th>Quê quán</th>
                                    <th>Lương HD</th>
                                    <th>Lương BH</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaCN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HoTen)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.NgaySinh)
                                    </td>
                                    <td style="text-align:right">
                                        @{ 
                                            var gt = "";
                                            if (item.GioiTinh == true)
                                            {
                                                gt = "Nam";
                                            }

                                            else
                                            {
                                                gt = "Nữ";
                                            }

                                        }
                                        @Html.DisplayFor(modelItem => gt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhongBan)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ChucVu)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.QueQuan)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LuongHD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LuongBaoHiem)
                                    </td>
                                    <td>
                                        <a href="~/Home/Edit/@item.MaCN">
                                            <i class="far fa-edit" style="margin: 0px 10px;"></i>
                                        </a>

                                        <a href="~/Home/Delete/@item.MaCN" onclick="return confirm('Bạn chắc chắn muốn xóa?')">
                                            <i class="far fa-trash-alt" style="margin: 0px 10px;"></i>
                                        </a>
                                    </td>
                                </tr>}

                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5"></div>
                    <div class="col-sm-12 col-md-7" >
                        <div class="pagination" id="dataTable_paginate" style="text-align:right">
                            @Html.PagedListPager(Model, pageNum => Url.Action("admin", new { pageNum })

                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>