
@model PagedList.IPagedList<NKSLK.Models.DTO.CongNhan_Luong>
@using PagedList.Mvc

<style>
    .pagination {
        display: inline;
    }


        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            display: inline-block;
            border: 1px solid #ddd;
        }

            .pagination a.active {
                background-color: darkolivegreen;
                color: white;
                border-radius: 5px;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
                border-radius: 5px;
            }

    th {
        text-align: center;
        background-color: #5a77c8;
    }
    .timkiem {
        margin-left: 50px;
        margin-top: 15px;
    }
</style>

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Danh sách lương theo tuần</h1>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive" style="overflow: hidden">
            <div class="dataTables_wrapper dt-bootstrap4 no-footer" id="dataTable_wrapper">
                <form class="row" action="/Luong/Luong_Week" style="margin-bottom:10px; display:block;">
                    <div style="display:inline-flex;">
                        <div class="col-sm-12 col-md-3" style="margin:0px 0px 0px 40px; display:inline-block; float:right;">
                            <label for="day">Tìm theo tuần : </label>
                            <input type="date" id="day" name="day" value="@Session["ngay"]">
                        </div>
                        @*<div class="col-sm-12 col-md-3" style="margin:0px 0px 0px 40px; display: inline-block; float: right;">
                                <label for="month">Tìm kiếm theo tên: </label>
                                <input type="text" id="name" name="name" value="@Session["name"]">
                            </div>*@
                        <div class="timkiem">
                            <input type="submit" value="Tìm kiếm" style="height:30px; margin:20px 0px 0px 90px;">
                        </div>
                        
                    </div>

                </form>

                <div class="row" style="display:block;">
                    <div class="col-sm-12">
                        <table class="table table-bordered" id="example2" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Mã công nhân</th>
                                    <th>Họ tên</th>
                                    <th>Lương</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaCN)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HoTen)
                                        </td>
                                        <td style="text-align:left">
                                            @Html.DisplayFor(modelItem => item.Luong)
                                        </td>

                                        @*<td>
                                                <a href="~/NKKhoan/Edit/@item.MaC">
                                                    <i class="far fa-edit" style="margin: 0px 10px;"></i>
                                                </a>

                                                <a href="~/NKKhoan/Delete/@item.MaNhatKy" onclick="return confirm('Bạn chắc chắn muốn xóa?')">
                                                    <i class="far fa-trash-alt" style="margin: 0px 10px;"></i>
                                                </a>
                                            </td>*@
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5"></div>
                    <div class="col-sm-12 col-md-7">
                        <div class="pagination" id="dataTable_paginate" style="text-align:center">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                            @Html.PagedListPager(Model, pageNum => Url.Action("Luong_Week", new { pageNum }))

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>