@model PagedList.IPagedList<NKSLK.Models.DTO.CongViec>

@using PagedList.Mvc

@using NKSLK.Models.DAO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLTE.cshtml";
}

<style>
    .pagination {
        display: inline;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            display: inline-block;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border-radius: 5px;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
                border-radius: 5px;
            }
    th {
        text-align: center;
        background-color: #5a77c8;
    }

    .col-sm-12.col-md-3 {
        font-weight: 900;
    }
</style>

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Danh sách công việc</h1>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive" style="overflow: hidden">
            <div class="dataTables_wrapper dt-bootstrap4 no-footer" id="dataTable_wrapper">
                <form class="row" action="/CongViec/Index" style="margin-bottom:10px; display:block;">
                    <div style="margin-left:10px; padding:5px 0px 0px 15px ; height:40px;width:100px; background-color:blue; display:inline-block; border-radius:5px;">

                        <a href="~/CongViec/Create" style="font-size:18px; color:white; text-decoration:none;">
                            Thêm mới
                        </a>
                    </div>

                    <div class="col-sm-12 col-md-3" style="padding:0px; display:inline-block; float:right;">
                        <label>Tên</label>
                        <input type="text" class="form-control" name="name" id="name" style="display:inline;width:55%" />
                        <input type="submit" value="Tìm kiếm" style="font-size:18px; color:white; text-decoration:none;padding:5px 0px 0px 15px ; height:40px;width:100px; background-color:green; display:inline-block;" />

                    </div>
                    <div class="row">
                        <div class="col span-1-of-2" style="margin-top:10px">
                            @{string Checked = ""; }
                            @if (Session["CongViec_Index"].ToString() == "CV_NhieuSLKNhat") { Checked = "checked"; }
                            <input type="radio" id="html" name="fav_language" value="HTML" onclick="NhieuSLKNhat()" style="margin-top: 10px; margin-left: 10px;" @Checked>
                            <label for="html">Công viện nhiều sản lượng khoán nhất</label><br>
                            @{ Checked = "";}

                            @if (Session["CongViec_Index"].ToString() == "CV_DonGiaCaoNhat") { Checked = "checked"; }
                            <input type="radio" id="css" name="fav_language" value="CSS" onclick="DonGiaCaoNhat()" style="margin-top: 10px; margin-left: 10px; @Checked">
                            <label for="css">Công việc có đơn giá cao nhất</label><br>
                            @{ Checked = "";}

                            @if (Session["CongViec_Index"].ToString() == "CV_DonGiaThapNhat") { Checked = "checked"; }
                            <input type="radio" id="javascript" name="fav_language" value="JavaScript" onclick="DonGiaThapNhat()" style="margin-top: 10px; margin-left: 10px;" @Checked>
                            <label for="javascript">Công việc có đơn giá thấp nhất</label><br>
                            @{ Checked = "";}

                        </div>
                        <div class="col span-2-of-2" style="margin-top:10px">
                            @if (Session["CongViec_Index"].ToString() == "CV_DonGiaCaoHon") { Checked = "checked"; }
                            <input type="radio" id="html4" name="fav_language" value="HTML" onclick="DonGiaCaoHon()" style="margin-top: 10px; margin-left: 10px;" @Checked>
                            <label for="html4">Công việc có đơn giá cao hơn đơn giá trung bình</label><br>
                            @{ Checked = "";}

                            @if (Session["CongViec_Index"].ToString() == "CV_DonGiaNhoHon") { Checked = "checked"; }
                            <input type="radio" id="css4" name="fav_language" value="CSS" onclick="DonGiaNhoHon()" style="margin-top: 10px; margin-left: 10px;" @Checked>
                            <label for="css4">Công việc có đơn giá thấp hơn đơn giá trung bình</label><br>
                            @{ Checked = "";}

                            @if (Session["CongViec_Index"].ToString() == "index") { Checked = "checked"; }
                            <input type="radio" id="css5" name="fav_language" value="CSS" onclick="TatCa()" style="margin-top: 10px; margin-left: 10px;" @Checked>
                            <label for="css5">Tất cả</label><br>
                            @{ Checked = "";}
                        </div>
                    </div>

                    <div>
                        @{ CongViecDAO dao = new CongViecDAO();}
                        @{ string AVG = "";}
                        @{ if (ViewBag.DonGiaTB != null && ViewBag.DonGiaTB == 1)
                            {
                                AVG = AVG + "Đơn giá trung bình: " + Math.Round(dao.AVG(), 2).ToString();
                            }}
                        <p style="margin-left: 370px;font-size:30px;font-weight: bold;font-style: italic;">@AVG</p>
                    </div>

                </form>

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered" id="example2" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Tên công việc</th>
                                    <th>Định mức khoán</th>
                                    <th>Đơn vị khoán</th>
                                    <th>Hệ số khoán</th>
                                    <th>Định mức lao động</th>
                                    <th>Đơn giá</th>
                                    <th>Số NKSLK</th>
                                    
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenCV)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DinhMucKhoan)
                                        </td>
                                        <td @*style="text-align:right"*@>
                                            @Html.DisplayFor(modelItem => item.DonViKhoan)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HeSoKhoan)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DinhMucLD)

                                        </td>
                                        <td>
                                            @{ decimal donGia = Convert.ToDecimal(126360 * item.HeSoKhoan * item.DinhMucLD / item.DinhMucKhoan); }
                                            <p>@Math.Round(donGia, 2)</p>
                                        </td>
                                        <td>
                                            @{ int count = dao.SoNKSLK(item.MaCV);}
                                            <p style="display: inline-block;">@count</p>

                                            <a href="~/CongViec/XemChiTiet/@item.MaCV">
                                                @*<i class="far fa-window-restore" style="margin-left: 20px"></i>*@
                                                <i class="fa fa-info-circle fa-lg" aria-hidden="true" style="margin-left: 20px; color: cadetblue"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="~/CongViec/Edit/@item.MaCV">
                                                <i class="far fa-edit" style="margin: 0px 10px;"></i>
                                            </a>

                                            <a href="~/CongViec/Delete/@item.MaCV" onclick="return confirm('Bạn chắc chắn muốn xóa?')">
                                                <i class="far fa-trash-alt" style="margin: 0px 10px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5"></div>
                    <div class="col-sm-12 col-md-7">
                        <div class="pagination" id="dataTable_paginate" style="text-align:right">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                            @if (Session["CongViec_Index"].ToString() == "index")
                            {
                                @Html.PagedListPager(Model, pageNum => Url.Action("index", new { pageNum }))
                            }
                            else if (Session["CongViec_Index"].ToString() == "CV_NhieuSLKNhat")
                            {
                                @Html.PagedListPager(Model, pageNum => Url.Action("CV_NhieuSLKNhat", new { pageNum }))
                            }
                            else if (Session["CongViec_Index"].ToString() == "CV_DonGiaCaoNhat")
                            {
                                @Html.PagedListPager(Model, pageNum => Url.Action("CV_DonGiaCaoNhat", new { pageNum }))
                            }
                            else if (Session["CongViec_Index"].ToString() == "CV_DonGiaThapNhat")
                            {
                                @Html.PagedListPager(Model, pageNum => Url.Action("CV_DonGiaThapNhat", new { pageNum }))
                            }
                            else if (Session["CongViec_Index"].ToString() == "CV_DonGiaCaoHon")
                            {
                                @Html.PagedListPager(Model, pageNum => Url.Action("CV_DonGiaCaoHon", new { pageNum }))
                            }
                            else if (Session["CongViec_Index"].ToString() == "CV_DonGiaNhoHon")
                            {
                                @Html.PagedListPager(Model, pageNum => Url.Action("CV_DonGiaNhoHon", new { pageNum }))
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function NhieuSLKNhat() {
        location.href = "@Url.Action("CV_NhieuSLKNhat", "CongViec")";
    }
    function DonGiaCaoNhat() {
        location.href = "@Url.Action("CV_DonGiaCaoNhat", "CongViec")";
    }
    function DonGiaThapNhat() {
        location.href = "@Url.Action("CV_DonGiaThapNhat", "CongViec")";
    }
    function DonGiaCaoHon() {
        location.href = "@Url.Action("CV_DonGiaCaoHon", "CongViec")";
    }
    function DonGiaNhoHon() {
        location.href = "@Url.Action("CV_DonGiaNhoHon", "CongViec")";
    }
    function TatCa() {
        location.href = "@Url.Action("index", "CongViec")";
    }
</script>

